:root {
  --text-color: #2E2E2E;
  --text-secondary: #676767;
  --primary-color: #F54748;
  --btn-primary-color: #F86061;
  --yellow: #F9BA45;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;  
}

/* component */

/* button */

.badge {
  box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
}

.btn {
  border-radius: 12px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: var(--btn-primary-color);
}

.btn-primary:hover {
  filter: brightness(0.95);
}

.btn-outline {
  border: 1.5px solid var(--btn-primary-color);
  color: var(--btn-primary-color);
  background-color: #fff;
}

.btn-lg {
  padding: 24px 40px;
  font-size: 2rem;
  font-weight: 500;
  font-weight: 500;
}

/* heading */

.section-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.35;
  color: var(--text-color);
  text-transform: capitalize;
}

.sub-heading {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(24 / 18);
}

/* text */

.text {
  font-weight: 400;
  color: var(--text-secondary);
}

.text-sm {
  font-size: 1rem;
  line-height: 1.6;
}

.text-md {
  font-size: 1.4rem;
  line-height: calc(25 / 14);
}

.text-lg {
  font-size: 1.8rem;
  line-height: calc(30 / 18);
}

/* card */

.card {
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 40px 100px -25px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.card .card-title {
  margin-bottom: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: var(--text-color);
}

.card .card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-secondary);
}